[submodule "automatic_calibration"]
	path = automatic_calibration
	url = https://github.com/gabrielppierre/automatic_calibration.git
[submodule "requirements-documentation"]
	path = requirements-documentation
	url = https://github.com/gabrielppierre/requirements-documentation.git
[submodule "camera-calibration-correction"]
	path = camera-calibration-correction
	url = https://github.com/gabrielppierre/camera-calibration-correction.git
[submodule "camera_calibration_correction"]
	path = camera_calibration_correction
	url = https://github.com/gabrielppierre/camera_calibration_correction.git
